# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*
*.log

# VS Code
.vscode/

# Data
data/raw/*
data/interim/*
data/processed/*
data/experiments/*

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
